<div class="wrap">
  <p class="title">{{(title) ? title : 'Title'}}</p>
  <div class="search">
    <ng-container *ngIf="!viewMode; else editMode">
    <div class="search-terms" [ngClass]="{'edit-hint':editHintVisible}" (mouseenter)="editDetailsToggle($event)" (mouseleave)="editDetailsToggle($event)">
        <div class="terms-container">
          <ng-container *ngFor="let term of terms">
              <p class="term-item"><span class="term">{{term}}</span></p>
          </ng-container>
        </div>
      <div class="term-edit-wrap" (click)="filtersToggle()">
        <img class="term-edit-img" [ngClass]="{'visible': editHintVisible, 'hidden': !editHintVisible}" src="../../assets/edit.svg" alt="action">
      </div>
    </div>
    </ng-container>
    <ng-template #editMode>
      <div class="search-terms edit-hint">
        <div class="terms-container">
          <ng-container *ngFor="let term of terms; index as index">
            <p class="term-item"><span class="term">{{term}}</span><span class="term-delete" (click)="deleteTerm(index)">x</span></p>
          </ng-container>
        </div>
        <div class="term-check-wrap" (click)="filtersToggle()">
          <img class="term-check-img" src="../../assets/check_mark.svg" alt="action">
        </div>
      </div>
    </ng-template>
  </div>
</div>
