.wrap {
  display: flex;
  align-items: center;
  padding: 3px;
}

.title {
  align-self: flex-start;
  flex-shrink: 0;
  margin-right: 6px;
  color: #6b778c;
}

.search {
  display: flex;
}

.search-terms-edit-wrap {
  position: relative;
}

.search-terms-view, .search-terms-edit {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  border-radius: 12px;
  border: 1px solid white;
  padding: 0px 18px 0px 6px;
  transition: 300ms;
  cursor: pointer;
}

.search-terms-view.edit-hint {
  border: 1px solid #ebecf0;
}

.search-terms.edit {
  border: 2.1px solid #4c9aff;
}

.search-results-wrap {
  margin: 0px 18px 6px 6px;
  position: relative;
  background-color: lightblue;
}

.search-result {
  padding: 6px 18px;
}

.terms-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.term-item-view, .term-item-edit {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 9px;
  border-radius: 3px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 1px 5px;
  background: rgba(9, 30, 66, 0.08);
  transition: 300ms;
  cursor: pointer;
}
.term-item-view:last-child, .term-item-edit:last-child {
  margin-right: 0px;
}

.term-item-edit:hover {
  background: #80808042;
}


.term {
  font-size: 14px;
  color: #0052cc;
}

.term-delete {
  margin-left: 6px;
  margin-bottom: 1px;
  font-size: 14px;
}

.term-edit-wrap {
  align-self: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  width: 30px;
}

.term-edit-img {
  height: 18px;
  width: 18px;
  transition: 300ms;
}

.term-check-wrap {
  align-self: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
  width: 30px;
}

.term-check-img {
  height: 18px;
  width: 18px;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.search-input-wrap {

}

.search-input {
  border-radius: 3px;
  padding: 3px;
  background-color: #add8e678;
}
