<div class="wrap">
  <p class="title">{{(title) ? title : 'Title'}}</p>
  <div class="search">
    <ng-container *ngIf="viewMode; else editMode">
<!--      <div class="search-terms-view" (mouseenter)="editHintToggle($event)" (mouseleave)="editHintToggle($event)" (click)="viewEditToggle()">-->
      <div class="search-terms-view" (click)="viewEditToggle()">
        <div class="terms-container">
          <ng-container *ngFor="let term of terms">
            <p class="term-item-view"><span class="term">{{term}}</span></p>
          </ng-container>
        </div>
<!--        <div class="term-edit-wrap" (click)="viewEditToggle()">-->
<!--          <img class="term-edit-img" [ngClass]="{'visible': editHintVisible, 'hidden': !editHintVisible}"-->
<!--               src="../../assets/edit.svg" alt="action">-->
<!--        </div>-->
      </div>
    </ng-container>
    <ng-template #editMode>
      <div class="search-terms-edit-wrap">
        <div class="search-terms-edit">
          <div class="terms-container">
            <ng-container *ngFor="let term of terms">
              <p class="term-item-edit"><span class="term">{{term}}</span><span class="term-delete" (click)="deleteTerm(term)">x</span></p>
            </ng-container>
            <div class="search-input-wrap">
              <input class="search-input" type="text" autofocus placeholder="search" #term (keyup)="emitSearchTerms(term.value)" tabindex="0">
            </div>
          </div>
<!--          <div class="term-check-wrap" (click)="viewEditToggle(); cleanSearchResult()">-->
<!--            <img class="term-check-img" src="../../assets/check_mark.svg" alt="action">-->
<!--          </div>-->
        </div>
        <div class="search-results-wrap" *ngIf="searchTermResult.length">
          <p class="search-result-title">Suggestions</p>
          <label class="search-result-item" *ngFor="let resultTerm of searchTermResult">
            <input class="search-result" type="checkbox" value="{{resultTerm}}" [checked]="isChecked(resultTerm)" #inputTerm (click)="termHandler(inputTerm)">
            {{resultTerm}}
          </label>
        </div>
      </div>
    </ng-template>
  </div>
</div>
